.cover-listFilm {
    margin-top: 150px;
}
.content-title {
    color: white;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    margin: 0;
    padding-right: 70px;
    margin-bottom: 30px;
}
.MuiGrid-root {
    display: flex;
    justify-content: center;
    margin: 0 !important;
}
.pagination {
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.pagination li {
    display: flex;
    align-items: center;
    transition: all .4s;
    border-radius: 5px;
    border: solid 1px #f9aa0000;
    background-color: #222028;
    margin: 0px 7px;
    cursor: pointer;
}
.pagination .selected {
    border: solid 1px #f9ab00;
}
.pagination li:hover {
    background-color: rgba(249,171,0,0.14);
    border: solid 1px #f9ab00;

}
.pagination li a {
    display: block;
    padding: 3px 15px;
    text-decoration: none;
    color:white;
}
@media screen and (max-width: 600px) {
    .pagination li a {
        font-size: 14px;
        padding: 4px 12px;
    }
    .pagination li a svg {
        font-size: 1rem;
        transform: translateY(-2px);
    }
}
@media screen and (max-width: 450px) {
    .pagination li {
        margin: 0 4px;
    }
    .cover-listFilm {
        margin-top: 60px;
    }
   
}