
.cover__seats {
    display: flex;
    color: white;
    font-size: 12px;
}
span {
    color: #f9ab00;
}
.cover__seats .seats__right h5 {
    font-size: 17px;
}
.seats__left {
    margin-top: 30px;
    width: 70%;
}
.seats__right {
    padding-top: 10px;
    margin-top: 30px;
    width: 30%;
}
.seats__right h1 {
    text-align: center;
}
.total__seats {
    display: flex;
}
.cover__seats .seats__left .MuiButton-root {
    transition: all .3s;
    color: white !important;
    min-width: 45px !important;
    padding: 6px 0px !important;
    border: 1px solid #f9aa0000 !important;
}
.cover__seats .seats__left .MuiButton-root:hover {
    box-shadow: 0px 0px 10px 0px #ffffffd1 !important;
}
.seats-vip {
    background-color: #f2561d !important;
}
.seats-empty {
    background-color:#f9ab00  !important;
}
.seats-booked {
    background-color: #52514f !important;
}
.seats-selected {
    background-color: #248f55  !important;
}
.button-book {
    transition: all .3s;
    color: white !important;
    margin-top: 50px !important;
    height: 50px;
    width: 100%;
    border: 2px solid #f9ab00 !important;
    font-size: 20px !important;
    box-shadow: 0 0 10px 1px #f9ab00;
}
.button-book:hover {
    background-color: rgba(249,171,0,0.05) !important;
}
.total__seats span {
    margin-right: 20px;
    margin-top: 10px;
}
.seats__left .MuiGrid-root {
    padding-left: 0 !important;
}
h4 .list__seats__booked {
    margin-top: 10px;
    margin-right: 10px;
    color:white !important;
    min-width: 46px !important;
    padding: 9px 0px !important;
}
@media screen and (max-width: 550px) {
    
    .cover__seats {
        display: block;
    }
    .seats__left {
        width: 100% !important;
    }
    .seats__right {
        width: 100% !important;
    }
}

@media (max-width: 900px) {
    .seats__left {
        width: 55%;
    }
    .seats__right {
        width: 45%;
    }
}
@media (min-width: 550px) {
    .seats__right {
        margin-left: 15px;
    }
  
}
@media screen and (max-width: 450px) {
    .MuiButton-root {
        min-width: 35px !important;
        padding: 5px 0px !important;
    }
}
@media (max-width: 330px) {
    .cover__seats .seats__left .MuiButton-root {
        min-width: 40px !important;
    }
}