.navbar {
    background:#1a191f;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 999;
    padding: 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
  }
  
  
  .container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  .nav-menu {
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin: 0;
  }
  .cover-sign {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    font-size:13px;
    font-weight: 300;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    padding: 0.5rem 1rem;
    height: 100%;
    text-decoration: none;
  }
  .nav-links:hover {
      color:#faab00;
  }
  .btn-link {
      text-decoration: none !important;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon {
    color: white;
    display: none;
  }
  .btn-signIn {
    border: 2px solid #faab00 ;
    padding: 0px 15px ;
    border-radius: 7px ;
    text-decoration: none;
  }
  .signIn {
    margin-right: 15px;
    text-decoration: none;;
  }
  .signIn:hover {
    text-decoration: none;
  }
  .signIn {
 
    color: #faab00;
    text-decoration: none !important;

  }
  .signIn:hover {
    color: white !important;
  }
  .btn-signIn .btn-signIn-icon {
    display: none;
    width: 20px;
    fill: white;
    height: 20px;
    transform: translate(-10px, 5px);
  }
  .btn-signIn:hover {
    background-color: rgba(249,171,0,0.14);
    text-decoration: none;
    
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
    .btn-signIn {
      position: absolute;
      transform: translate(-65%, 0%);
      right: 0;
    }
    .signIn {
      position: absolute;
      right: 20%;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #1c2237;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      color: #f00946;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
  
    .nav-item:hover {
      border: none;
    }
  
    .nav-item {
      width: 100%;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 120px;
    }
  }
  @media screen and (max-width: 770px) {
    .btn-signIn button {
      display: none;
    }
    .signIn {
      display: none;
    }
    .btn-signIn {
      transform: translate(-200%, 0%);
      width:35px;
      height: 35px;
    }
    .btn-signIn .btn-signIn-icon {
      display: block;;
    }
    .logo {
      width: 110px;
    }
  }
  @media screen and (max-width: 360px) {
    .logo {
      width: 90px;
    }
  /*   .navbar-container {
      padding: 0;
    } */
    .btn-signIn {
      position: absolute;
      transform: translate(-160%, 0%);
      right: 0;
    }
  }
  