
.title-slider {
    color:white;
    font-weight: 600;
    font-size:40px;;
    line-height: 42px;
    margin: 0;
    padding-right: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
@media screen and (max-width: 770px){
    .title-slider {
        font-size:32px;
    }  
}
.title-slider span {
    font-weight: 300;
}
.slick-slide {
    display:flex !important;
    justify-content: center ;
}
@media screen and (max-width: 280px) {
    .slick-slide {
        display:block !important;
    }
}
.banner-cover{
    position:absolute;
    top:80px;
    flex-direction: column;
    width: 100%;
    z-index: -999;
}
.banner-cover .slick-slide div {
    width: 100%;
}
.banner{
    height: 700px;
    position: relative;
    width:100%
}
.cover-bg {
    height: 650px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
